<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
   
    <!--Link para acessar os icones do site font-awesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
    <title>porfólio adm</title>
</head>
<body>
    <form action='/new' method="POST">

        <h1>Cadastre um novo projeto</h1>

        <label for="nome">Nome</label>
        <input type="text" placeholder="Nome do projeto" id="nome" name="nome">

        <label for="imagem">Imagem</label>
        <input type="text" placeholder="Link da imagem" id="imagem" name="imagem">

        <label for="link">Link</label>
        <input type="text" placeholder="Link do projeto" id="link" name="link">

        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao" cols="30" rows="10"
            placeholder="Digite a descrição do projeto"></textarea>

        <button type="submit">Enviar</button>

    </form>

    <table>
        <thead>
            <tr></tr>

        </thead>

        <tbody>

        </tbody>
    </table>
    
</body>
</html>